body {
    font-family: 'Slabo 35px', serif;
    /*font-size: 22px;*/
    /*height: 125%;*/
    /*background-color: #D2E9FF;*/
    /*color: #666;*/
    
    /*    margin-left:auto;*/
    /*margin-right:auto;*/

    /*max-width: 500px;*/
    background: #BEE9E8;
    padding: 30px 30px 20px 30px;
    /*font: 12px Arial, Helvetica, sans-serif;*/
    color: #666;
}
.form {
        padding: 25px 100px 0px 100px;
}
input, textarea, select {
    font: 200 15px/25px Arial, Helvetica, sans-serif;
    border-radius: 5px;
}
textarea {
    width: 95.7%;
    margin: 8px 0;
    box-sizing: border-box;
}
input[type="text"] {
    /*color: #888;*/
    /*width: 85%;*/
    /*padding: 0 0 0 5px;*/
    /*border: 1px solid #C5E2FF;*/
    /*background: #FBFBFB;*/
    /*outline: 0;*/
    /*box-shadow: inset 0px 1px 6px #ECF3F5;*/
    /*height: 30px;*/
    /*line-height:15px;*/
    /*margin: 2px 6px 16px 0px;*/
}
#bar {
    width: 20px;
    height: 20px;
    text-align: center;
}
textarea {
    color: #888;
    width: 94.5%;
    padding: 6px 0 0 5px;
    border: 1px solid #C5E2FF;
    background: #FBFBFB;
    outline: 0;
    box-shadow: inset 0px 1px 6px #ECF3F5;
    line-height:15px;
    margin: 2px 6px 16px 0px;
    resize: none;
    overflow: none;
    height:100px;
    padding-top: 10px;
}
input[type=password], input[type=text] {
        color: #555;
    height: 30px;
    line-height:15px;
    width: 100%;
    padding: 0px 0px 0px 10px;
    margin-top: 2px;
    border: 1px solid #E5E5E5;
    background: #FBFBFB;
    outline: 0;
    -webkit-box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);
    box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);
    font: normal 14px/14px Arial, Helvetica, sans-serif;
}

input[type=password] {
    /*color: #888;*/
    /*padding: 0 0 0 5px;*/
    /*border: 1px solid #C5E2FF;*/
    /*background: #FBFBFB;*/
    /*outline: 0;*/
    /*box-shadow: inset 0px 1px 6px #ECF3F5;*/
    /*margin: 2px 6px 16px 0px;*/
    /*width: 86%;*/
    /*height: 30px;*/
    /*box-sizing: border-box;*/
}
.checkbox {
    float: left;
    width: 50%;
    margin-bottom: 20px;
}
.radio {
    float: left;
    /*display: inline;*/
    width: 50%;
    margin-bottom: 20px;
}
.slider, .colorpicker {
    /*float: right;*/
    width: 50%;
    margin-bottom: 20px;
}
.dropdown {
    clear: both;
    width: 100%;
}
select {
    /*background: #fbfbfb url('down-arrow.png') no-repeat right;*/
    /*appearance:none;*/
    /*font-size: 15px;*/
    /*height: 30px;*/
    /*text-overflow: '';*/
    /*border-radius: 5px;*/
    /*padding: 0 18px;*/
    /*color: #888;*/
    /*width: 78%;*/
    /*border: 1px solid #C5E2FF;*/
    /*background: #FBFBFB;*/
    /*outline: 0;*/
    /*box-shadow: inset 0px 1px 6px #ECF3F5;*/
    /*height: 30px;*/
    /*margin: 2px 6px 16px 0px;*/
    
        background: url('down-arrow.png') no-repeat right, -moz-linear-gradient(top, #FBFBFB 0%, #E9E9E9 100%);
    background: url('down-arrow.png') no-repeat right, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FBFBFB), color-stop(100%,#E9E9E9));
   appearance:none;
    text-indent: 0.01px;
    text-overflow: '';
    width:100%;
    height:30px;
        font-family: 'Slabo 35px', serif;

}
option {
        background-color: #9DC45F;
    border-radius: 5px;
    border: none;
    
    padding: 10px 25px 10px 25px;
    color: #FFF;
    text-shadow: 1px 1px 1px #949494;
        font-family: 'Slabo 35px', serif;
}
option:hover {
    background-color:#80A24A;
        font-family: 'Slabo 35px', serif;
}
.extra{
    text-align: center;
    /*margin: auto;*/
}
input[type=submit], input[type=reset] {
    padding: 10px 30px 10px 30px;
    background: #66C1E4;
    border: none;
    color: #FFF;
    box-shadow: 1px 1px 1px #4C6E91;
    text-shadow: 1px 1px 1px #5079A3;
    
}
input[type=submit]:hover, input[type=reset]:hover{
    background: #3EB1DD;
    text-align: center;
    margin: auto;
}
h1 {
    /*padding: 20px 10px 0 10px;*/
    /*text-align: center;*/
    /*display: block;*/
    /*background: #C0E1FF;*/
    /*border-bottom: 1px solid #B8DDFF;*/
    /*margin: -20px -20px 15px;*/
    
    font: 24px "Trebuchet MS", Arial, Helvetica, sans-serif;
    padding: 20px 20px 20px 40px;
    display: block;
    margin: -30px -30px 10px -30px;
    color: #FFF;
    background: #9DC45F;
    text-shadow: 1px 1px 1px #949494;
    border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    border-bottom:1px solid #89AF4C;
}
fieldset {
    width: 200%;
}
label {
    float: left;
    margin-top: 10px;
    color: #5E5E5E;
    display: block;
    margin: 0px 0px 5px;
}