body {
    background-color: black;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
}

#frame {
    background: -webkit-gradient(linear, left top, right top, from(#2F2727), color-stop(0.5, #1a82f7), color-stop(0.5, #2F2727), color-stop(0.5, #1a82f7), to(#2F2727));
    width: 100%;
    height: 75vh;
    border: 2px solid white;
    margin: auto;
    position: relative;
}

#line {
    width: 18px;
    height: 100%;
    background-color: #3862AF;
    position: relative;
    margin: auto;
}

div.paddles {
    width: 20px;
    height: 70px;
    border-radius: 40%;
    position: absolute;
    transition: top .00000001s;
    box-shadow: 0px 0px 15px 5px #F6AE2D;
    background-color: #EDC650;
}

#leftpaddle {
    left: 10px;
    top: 20px;

}

#rightpaddle {
    right: 10px;
    top: 20px;
}

#ball {
    border-radius: 100%;
    background-color: #F2B58A;
    width: 18px;
    height: 18px;
    margin: auto;
    top: 100px;
    position: absolute;
    transition: left .00001s, top .00001s;
}

#start {
    width: 225px;
    vertical-align: middle;
    line-height: 32px;
    font-size: 27px;
    text-align: center;
    margin: auto;
    height: 5vh;
    border: 1px solid white;
    color: white;
    padding: 2px;
    font-weight: bold;
}

#stopit, #restart {
    width: 200px;
    vertical-align: middle;
    line-height: 30px;
    font-size: 25px;
    text-align: center;
    margin: auto;
    height: 5vh;
    padding: 2px;
}

tr, td, th {
    width: 250px;
    vertical-align: middle;
    line-height: 30px;
    font-size: 20px;
    text-align: center;
    margin: auto;
    height: 5vh;
    border: 1px solid white;
    padding: 2px;
}

table {
    margin: auto;
}

#p1score {
    font-size: 125px;
    color: black;
    z-index: 3;
    left: 350px;
    position: absolute;
    color: white;
}

#p2score {
    font-size: 125px;
    color: white;
    z-index: 3;
    right: 350px;
    position: absolute;
}

#howtoplay {
    position: absolute;
    left: 50px;
    top: 50px;
    z-index: 5;
    font-size: 50px;
    text-align: center;
    line-height: 150px;
}